<footer class="footer" style="margin-top: 10px;">
    <div class="footer-container">

        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="index.html#home"><i class="fas fa-angle-right"></i> Home</a></li>
                <li><a href="about.html"><i class="fas fa-angle-right"></i> About</a></li>
                <li><a href="index.html#projects"><i class="fas fa-angle-right"></i> Projects</a></li>
                <li><a href="index.html#services"><i class="fas fa-angle-right"></i> Services</a></li>
                <li><a href="index.html#contact"><i class="fas fa-angle-right"></i> Contact</a></li>
            </ul>
        </div>

        <div class="footer-contact">
            <h3>Contact</h3>
            <p><i class="fas fa-envelope"></i> mansooralisolangi160@gmail.com</p>
            <p><i class="fas fa-phone"></i> +92 3225844067</p>
            <p><i class="fas fa-map-marker-alt"></i> Karachi, Pakistan</p>
        </div>

        <div class="footer-social">
            <h3 style="padding: 10px;">Follow Me</h3>
            <div class="social-links-footer">
                <a href="https://github.com/mansooralisolangi" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.linkedin.com/in/mansoor-ali-25046224b/" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                <!-- <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a> -->

            </div>
        
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Mansoor Ali | Designed with ❤️ & Excellence</p>
    </div>
</footer>
